<h2>Edit <%= resource.role %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div>
    <%= f.label :firstName, style: "display: block" %>
    <%= f.text_field :firstName %>
  </div>

  <div>
    <%= f.label :lastName, style: "display: block" %>
    <%= f.text_field :lastName %>
  </div>

  <div>
    <%= f.label :description, style: "display: block" %>
    <%= f.text_field :description %>
  </div>


  <div class="field">
    <%= f.label :role, "Attendee"%>
    <%= f.radio_button :role, "attendee", checked:(resource.role == "attendee") %>
    <%= f.label :role, "Trainer", :value => 1 %>
    <%= f.radio_button :role, "trainer", checked:(resource.role == "trainer")  %>
    <%= f.label :role, "Event Organizer", :value => "event_organizer" %>
    <%= f.radio_button :role, "event_organizer", checked:(resource.role == "event_organizer")  %>
  </div>

  <div class="actions">
    <%= f.submit "Update" , data: {turbo: false}%>
  </div>
<% end %>

<div>
    <% current_user.attendees.each do |attendee| %>
    <%= attendee.dog_show.name %>
    <%= attendee.dog_show.start_time %>
    <%= attendee.dog_show.location %>
    
    <% end %>
  </div>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
