<div id="<%= dom_id event_organizer %>">
  <p>
    <strong>Description:</strong>
    <%= event_organizer.description %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= event_organizer.firstName %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= event_organizer.lastName %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= event_organizer.email %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= event_organizer.admin %>
  </p>

</div>
