<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <i class="fa-solid fa-bone text-light"></i>
    <a class="navbar-brand" href="/">The Dirty Dawg Show</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/"><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/event_schedule"><i class="fa-solid fa-calendar-days"></i> Event Schedule</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ticket"><i class="fa-solid fa-ticket"></i> Purchase Tickets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/account"><i class="fa-solid fa-paw"></i>
          <% if current_user && current_user.role == "event_organizer"%> View Accounts
          <% else %> Dog/Trainer Bios
          <% end %>
          </a>
        </li>
        <% if current_user %>
        <% if current_user.role == "event_organizer"%>
        <li class="nav-item">
          <a class="nav-link" href="/dog_shows"><i class="fa-solid fa-plus"></i> Add Shows</a>
        </li>
        <% end %>
        <% end %>
        </ul>
        <ul class="navbar-nav ms-auto">
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user text-white"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
            <li><%= link_to 'My Account', edit_user_registration_path, class:"dropdown-item" %></li>
            <li><%= link_to 'My Tickets', my_calendar_path(current_user), class:"dropdown-item" %></li>
            <li><%= link_to 'Sign Out', destroy_user_session_path, data: { "turbo-method": :delete }, class:"dropdown-item"%></li>
            <% else %>
            <li><%= link_to 'Sign In', new_user_session_path, class:"dropdown-item"%></li>
            <li><%= link_to 'Sign Up', new_user_registration_path, class:"dropdown-item"%></li>
            <% end %>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>