<p style="color: green"><%= notice %></p>

<h1>Dog shows</h1>


<div id="dog_shows">
  <table class="table table-dark table-striped table-hover" >
    <thead>
      <tr>
          <th>Name</th>
          <th>Location</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Available Seating</th> 
          <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @dog_shows.each do |dog_show|%>
        <tr>
          <td><%= dog_show.name %></td>
          <td><%= dog_show.location%></td>
          <td><%= dog_show.start_time.strftime('%m/%d/%Y') %></td>
          <td><%= dog_show.end_time.strftime('%m/%d/%Y') %></td>
          <td><%= dog_show.number_of_seats %></td>
          <td><%= link_to "Show this dog show", dog_show %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New dog show", new_dog_show_path %>
