<p style="color: green"><%= notice %></p>

<%= render @dog_show %>

<div>
  <% if current_user && current_user.role == "event_organizer" %>
  <%= link_to "Edit this dog show", edit_dog_show_path(@dog_show) %> |
  <%= link_to "Back to Event Schedule", '/event_schedule' %>

  <%= button_to "Destroy this dog show", @dog_show, method: :delete %>
  <% end %>
</div>
