<p style="color: green"><%= notice %></p>

<p>
    <strong>First Name apples:</strong>
    <%= @user.firstName %>
  </p>

  <p>
    <strong>Last Name:</strong>
    <%= @user.lastName %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @user.description %>
  </p>


<div>
  
  <%= link_to "Back to Full user list", '/account' %>
  <% if current_user && current_user.role == "event_organizer" %>
  <%= link_to "Edit this User", edit_account_path(@user) %>
  <%= button_to "Destroy this User", @account, method: :delete %>
  <% end %>
</div>